.book_container {
    margin: 30px;
}
.book_list {
    display: flex;
    margin: 20px;
    
}
.image_content img{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px #222;
    outline: 1px solid #eee;
    border-radius: 3px;
    margin-right: 30px;
}

.book_content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.book_content h2 {
    margin-top: 20px;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize;
}

.book_content p{
    margin-top: -10px;
    margin-left: 20px;
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}

.book_content span {
    border-bottom: 1px solid #999;
}

.book_content .book_price {
    color: red;
    font-weight: bold;
    margin-top: 30px;
}

.buttons {
    display: flex;
    margin: 10px -30px;
}

.book_description {
    font-size: 1rem;
    margin-left: 30px;
    font-weight: 600;
}

